:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner{
  margin: auto;
  padding: auto;
}

.post-image{
  width:100%;
}
.post-image img{
  width: 70%;
  margin:auto;
  margin-left:10%;
  margin-top: 2%;
  margin-bottom: 4%;
  box-shadow: 10px 10px 5px 5px gray;
}
mat-paginator{
  margin-top: 1rem;
}
